<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>关于我们</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../../resource/css/forend/main.css">
</head>
<body>
<div class="content">
    <div class="logo-wrap">
        <div class="logo-hd">
            <img src="../../resource/img/forend/logo@3x.png" alt="avatar">
        </div>
        <div class="logo-bd">
            <p>贷款超市</p>
            <span>V1.0</span>
        </div>
    </div>
    <div class="goods-list loan-list">
        <a class="loans" href="javascript:;">
            <div class="loans-flex">
                <div class="loans-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="loans-bd">
                    <h3 class="title">微信客服</h3>
                    <p class="interest">
                        <span><i>关注您的信用管家：xxx44544</i></span>
                    </p>
                </div>
            </div>
        </a>
        <a class="loans" href="javascript:;">
            <div class="loans-flex">
                <div class="loans-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="loans-bd">
                    <h3 class="title">QQ客服</h3>
                    <p class="interest">
                        <span><i>实时解答：154879411</i></span>
                    </p>
                </div>
            </div>
        </a>
        <a class="loans" href="javascript:;">
            <div class="loans-flex">
                <div class="loans-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="loans-bd">
                    <h3 class="title">电话咨询</h3>
                    <p class="interest">
                        <span><i>拨打免费热线：400-1870788</i></span>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>