<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>贷款超市</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../../resource/css/forend/main.css">
</head>
<body>
<!--/*@thymesVar id="project" type="com.huotu.loanmarket.service.entity.project.Project"*/-->
<header>
    <div class="weui-flex tools-bar">
        <div class="weui-flex__item">
            <!--TODO js-needLogin 如果登录，请移除该class-->
            <a href="https://www.51nbapi.com/h5/login.html">
                <img src="../../resource/img/forend/zx@3x.png">
                <p>征信查询</p>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="https://b.jianbing.com/hs/appgjj/?from=huotu">
                <img src="../../resource/img/forend/gj@3x.png">
                <p>公积金查询</p>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="http://shebao.caijigaoshou.cn">
                <img src="../../resource/img/forend/sb@3x.png">
                <p>社保查询</p>
            </a>
        </div>
    </div>
</header>
<div class="content index-content">
    <div class="hot-goods goods-list">
        <div class="hd">
            <p>热门推荐</p>
            <a href="/forend/category/list" class="more">查看更多&nbsp;</a>
        </div>
        <div class="bd clearfix">
            <a th:each="project:${hotProject}" class="goods" onclick="homeHandler.getProjectDetail(this)" th:attr="projectId=${project.loanId}">
                <div class="goods-hd">
                    <img th:if="not ${#lists.isEmpty(project.logo)}" th:src="${project.logo}" src="../../resource/img/forend/logo@3x.png">
                    <img th:if="${#lists.isEmpty(project.logo)}" src="../../resource/img/forend/logo@3x.png">
                </div>
                <div class="goods-bd">
                    <h3 th:text="${project.name}" class="title">贷款超市</h3>
                    <p th:text="${project.interestRate}+' %'" class="interest">日利率：0.05%</p>
                </div>
            </a>
        </div>
    </div>
    <div class="new-goods goods-list">
        <div class="hd">
            <p>最新产品</p>
        </div>
        <div class="bd clearfix">
            <a th:each="project:${newProject}" class="goods" onclick="homeHandler.getProjectDetail(this)" th:attr="projectId=${project.loanId}">
                <div class="goods-hd">
                    <img th:src="${project.logo}" src="http://iph.href.lu/40x20">
                </div>
                <div class="goods-bd">
                    <h3 th:text="${project.name}" class="title">贷款超市贷款超市贷款超市贷款超市贷款超市贷款超市贷款超市</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="../../resource/img/forend/home@2x_b.png" alt="首页">
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/forend/category/list" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../../resource/img/forend/dk@3x.png" alt="贷款">
        </div>
        <p class="weui-tabbar__label">贷款</p>
    </a>
    <a class="weui-tabbar__item" onclick="homeHandler.personCenter()">
        <div class="weui-tabbar__icon">
            <img src="../../resource/img/forend/gre@3x.png" alt="我的">
        </div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/3.2.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/game/fastclick.js"></script>
<script src="../../resource/js/mock/mock-min.js" th:remove="all"></script>
<script src="../../resource/js/mock/api.js" th:remove="all"></script>
<script src="../../resource/js/forend/loanLogin.js"></script>
<script type="text/javascript">
    var homeHandler ={
        getProjectDetail:function (obj) {
        var projectId = $(obj).attr("projectId");
        window.location.href = "/forend/project/getDetail?projectId="+projectId;
        },
        personCenter:function () {
            window.location.href="/forend/person/center"
        }
    }
</script>
</html>