<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>贷款</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
<div class="content">
    <div class="goods-list tag-list">
        <div class="bd clearfix">
            <a class="tags" href="loanSearch.html?tag=1">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">社保贷</h3>
                </div>
            </a>
            <a class="tags" href="loanSearch.html?tag=2">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">芝麻分贷</h3>
                </div>
            </a>
            <a class="tags" href="loanSearch.html?tag=3">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">TOP排行榜</h3>
                </div>
            </a>
            <a class="tags" href="loanSearch.html?tag=4">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">极速贷</h3>
                </div>
            </a>
            <a class="tags" href="loanSearch.html?tag=5">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">信用卡</h3>
                </div>
            </a>
            <a class="tags" href="loanSearch.html?tag=6">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">企业个体</h3>
                </div>
            </a>
            <a class="tags" href="loanSearch.html?tag=7">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">贷款搜索</h3>
                </div>
            </a>
            <a class="tags" href="loanSearch.html?tag=8">
                <div class="tags-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="tags-bd">
                    <h3 class="title">公积金</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="goods-list loan-list">
        <a class="loans loans-recommend" href="loanDetail.html">
            <div class="loans-flex">
                <div class="loans-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="loans-bd">
                    <h3 class="title">平安i贷款</h3>
                    <p class="interest">
                        <span><i>月利率</i>：<b>0.05%</b></span>
                        <span>额度：<b>1000~30000</b>元</span>
                    </p>
                </div>
            </div>
            <div class="loans-ft">
                <span>最快3分钟下单</span>
                <span>本平台通过率最高</span>
            </div>
        </a>
        <a class="loans loans-new" href="loanDetail.html">
            <div class="loans-flex">
                <div class="loans-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="loans-bd">
                    <h3 class="title">啪啪钱包</h3>
                    <p class="interest">
                        <span><i>日利率</i>：<b>0.05%</b></span>
                        <span>额度：<b>1000~1500</b>元</span>
                    </p>
                </div>
            </div>
            <div class="loans-ft">
                <span>仅需身份证即可贷款</span>
                <span>最快2小时放款</span>
            </div>
        </a>
        <a class="loans" href="loanDetail.html">
            <div class="loans-flex">
                <div class="loans-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="loans-bd">
                    <h3 class="title">快贷</h3>
                    <p class="interest">
                        <span><i>月利率</i>：<b>0.05%</b></span>
                        <span>额度：<b>1000~30000</b>元</span>
                    </p>
                </div>
            </div>
            <div class="loans-ft">
                <span>申请资料简单</span>
                <span>短期灵活周转</span>
                <span>下款快</span>
            </div>
        </a>
    </div>
</div>
<div class="weui-tabbar">
    <a href="index.html" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../image/home@3x.png" alt="首页">
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="../image/dk@3x_b.png" alt="贷款">
        </div>
        <p class="weui-tabbar__label">贷款</p>
    </a>
    <a href="user.html" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../image/gre@3x.png" alt="我的">
        </div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/3.2.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.js"></script>
</html>