<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <!--TODO 对应的贷款名称-->
    <title>贷款详情</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../../resource/css/forend/main.css">
</head>
<body>
<!--/*@thymesVar id="loanProject" type="com.huotu.loanmarket.service.entity.LoanProject"*/-->
<!--/*@thymesVar id="material" type="com.huotu.loanmarket.common.ienum.ApplicationMaterialEnum"*/-->
<div class="content">
    <div class="goods-list loan-list">
        <div class="loans">
            <div class="loans-flex">
                <div class="loans-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="loans-bd">

                    <h3 th:text="${loanProject.name}" class="title">平安i贷款</h3>
                    <p class="interest">
                        <span><i th:text="${loanProject.deadlineUnit==0?'日':'月'}+'利率'"></i>：<b
                                th:text="${loanProject.interestRate+'%'}">0.05%</b></span>
                        <span>额度：<b th:text="${minMoney+'~'+maxMoney}"></b>元</span>
                    </p>
                </div>
            </div>
            <div class="loans-ft">
                <span th:text="${minMoney+'~'+maxMoney}"
                      style="margin-right: 5px;">最快3分钟下单</span>
            </div>
        </div>
    </div>
    <div class="goods-list loan-calc">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access" id="J_line" th:data-line="${loanProject.enableMoney}">
                <div class="weui-cell__bd">贷款金额 <span class="text-small"
                                                      th:text="${minMoney+'~'+maxMoney}">1000~5000元</span></div>
                <div class="weui-cell__ft" th:text="${minMoney}">1000元</div>
            </div>
            <div class="weui-cell weui-cell_access" id="J_deadline" th:data-deadline="${loanProject.deadline}"
                 th:data-unit="${loanProject.deadlineUnit==0?'日':'月'}">
                <div class="weui-cell__bd">分期期限 <span class="text-small" th:text="${minDeadline+'~'}+${maxDeadline}">1~3个月</span>
                </div>
                <div class="weui-cell__ft" th:text="${minDeadline}">1个月</div>
            </div>
        </div>
        <div class="weui-flex loan-calc-info">
            <div class="weui-flex__item">
                <p id="J_repayment">***.**元</p>
                <!--TODO 注意单位-->
                <span class="text-small">每月应还</span>
            </div>
            <div class="weui-flex__item">
                <p id="J_interestRate" th:text="${loanProject.interestRate+'%'}">0.60%</p>
                <span class="text-small" th:text="'参考'+${loanProject.deadlineUnit==0?'日':'个月'}+'利率'">参考日利率</span>
            </div>
            <div class="weui-flex__item">
                <p th:text="${loanProject.fastestGetTime}">1天</p>
                <span class="text-small">最快放款时间</span>
            </div>
        </div>
    </div>
    <div class="goods-list material-list">
        <div class="hd">申请材料</div>
        <div class="bd clearfix">
            <div class="material" th:each="material:${materials}">
                <div th:class="'material-hd material-icon-'+${material.code}" class="material-hd material-icon-0"></div>
                <div class="material-bd" th:text="${material.name}">基本信息</div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="javascript:;" class="apply-btn js-needLogin">立即申请</a>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/3.2.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/game/fastclick.js"></script>
<script src="../../resource/js/mock/mock-min.js" th:remove="all"></script>
<script src="../../resource/js/mock/api.js" th:remove="all"></script>
<script src="../../resource/js/forend/loanLogin.js"></script>
<script src="../../resource/js/forend/loanDetail.js"></script>
</html>