<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>贷款搜索</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../../resource/css/forend/main.css">
</head>
<body>
<h2  th:unless="${not #lists.isEmpty(projectList)}">没有产品</h2>
<div class="goods-list loan-list">
    <a th:each="project:${projectList}" th:class="'loans '+${project.isHot>0?'loans-recommend ':''}+${project.isNew>0?'loans-new':''}"
       class="loans loans-recommend" onclick="loanHandle.getProjectDetail(this)"
       th:attr="projectId=${project.loanId}">
        <!--/*@thymesVar id="project" type="com.huotu.loanmarket.service.entity.LoanProject"*/-->
        <div class="loans-flex">
            <div class="loans-hd">
                <img th:if="not ${#lists.isEmpty(project.logo)}" th:src="${project.logo}" src="../../resource/img/forend/logo@3x.png">
                <img th:if="${#lists.isEmpty(project.logo)}" src="../../resource/img/forend/logo@3x.png">
            </div>
            <div class="loans-bd">
                <h3 th:text="${project.name}" class="title">平安i贷款</h3>
                <p class="interest">
                        <span><i th:text="${project.deadlineUnit=='0'?'日':'月'}+'利率'"></i>：<b
                                th:text="${project.interestRate+'%'}">0.05%</b></span>
                    <span>额度：<b th:text="${project.minMoney+'~'+project.maxMoney}">1000~30000</b>元</span>
                </p>
            </div>
        </div>
        <div class="loans-ft">
            <span th:each="tag:${#strings.arraySplit(project.tag,',')}" th:text="${tag}" style="margin-right: 5px;">最快3分钟下单</span>
        </div>
    </a>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/3.2.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/game/fastclick.js"></script>
<script src="../../resource/js/forend/template-web.js"></script>
<script src="../../resource/js/mock/mock-min.js" th:remove="all"></script>
<script src="../../resource/js/mock/api.js" th:remove="all"></script>
</html>