<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>贷款进度</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../../resource/css/forend/main.css">
</head>
<body>
<!--/*@thymesVar id="project" type="com.huotu.loanmarket.service.entity.LoanProject"*/-->
<div class="content">
    <div class="weui-cells entry progress">
        <a th:each="project:${hotProject}" class="weui-cell weui-cell_access" href="tel:400-812-8018">
            <div class="weui-cell__hd">
                <img src="../../resource/img/forend/logo@3x.png">
            </div>
            <div th:text="${project.name}" class="weui-cell__bd">贷款超市</div>
            <div th:text="${project.phone}" class="weui-cell__ft">400-812-8018</div>
        </a>
    </div>
</div>
</body>
</html>