<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>个人中心</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../../resource/css/forend/main.css">
</head>
<body>
<!--/*@thymesVar id="user" type="com.huotu.loanmarket.service.entity.LoanUser"*/-->
<div class="content">
    <!--TODO 未登录class js-needLogin 已登录移除它-->
    <div class="login-wrap js-loginBox js-needLogin">
        <div class="login-hd">
            <img th:src="${user.}" src="http://iph.href.lu/40x40" alt="avatar">
        </div>
        <div class="login-bd">
            <p>未登录</p>
        </div>
        <input type="file" id="J_inputFile" class="input-file" accept="image/*">
    </div>
    <div class="weui-cells entry">
        <a class="weui-cell weui-cell_access" href="/forend/project/loanProcess">
            <div class="weui-cell__hd">
                <img src="../../resource/img/forend/icon-1@3x.png">
            </div>
            <div class="weui-cell__bd">贷款进度查询</div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="/forend/person/about">
            <div class="weui-cell__hd">
                <img src="../../resource/img/forend/icon-2@3x.png">
            </div>
            <div class="weui-cell__bd">关于我们</div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
</div>
<div class="weui-tabbar">
    <a href="/forend/index" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../../resource/img/forend/home@3x.png" alt="首页">
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/forend/category/list" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../../resource/img/forend/dk@3x.png" alt="贷款">
        </div>
        <p class="weui-tabbar__label">贷款</p>
    </a>
    <a href="/forend/person/center" class="weui-tabbar__item  weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="../../resource/img/forend/gre@3x_b.png" alt="我的">
        </div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/3.2.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/game/fastclick.js"></script>
<script src="../../resource/js/mock/mock-min.js" th:remove="all"></script>
<script src="../../resource/js/mock/api.js" th:remove="all"></script>
<script src="../../resource/js/forend/loanLogin.js"></script>
<script src="../../resource/js/forend/user.js"></script>
</html>