<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>贷款超市</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
<header>
    <div class="weui-flex tools-bar">
        <div class="weui-flex__item">
            <a href="javascript:;">
                <img src="../image/zx@3x.png" alt="征信">
                <p>征信查询</p>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="javascript:;">
                <img src="../image/gj@3x.png" alt="公积金">
                <p>公积金查询</p>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="javascript:;">
                <img src="../image/sb@3x.png" alt="社保">
                <p>社保查询</p>
            </a>
        </div>
    </div>
</header>
<div class="content index-content">
    <div class="hot-goods goods-list">
        <div class="hd">
            <p>热门推荐</p>
            <a href="loan.html" class="more">查看更多&nbsp;</a>
        </div>
        <div class="bd clearfix">
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                    <p class="interest">日利率：0.05%</p>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                    <p class="interest">日利率：0.05%</p>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                    <p class="interest">日利率：0.05%</p>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                    <p class="interest">日利率：0.05%</p>
                </div>
            </a>
        </div>
    </div>
    <div class="new-goods goods-list">
        <div class="hd">
            <p>最新产品</p>
        </div>
        <div class="bd clearfix">
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
            <a class="goods" href="loanDetail.html">
                <div class="goods-hd">
                    <img src="http://iph.href.lu/40x40" alt="产品">
                </div>
                <div class="goods-bd">
                    <h3 class="title">贷款超市</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="../image/home@2x_b.png" alt="首页">
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="loan.html" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../image/dk@3x.png" alt="贷款">
        </div>
        <p class="weui-tabbar__label">贷款</p>
    </a>
    <a href="user.html" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../image/gre@3x.png" alt="我的">
        </div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/3.2.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.js"></script>
</html>