<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>贷款进度</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
<div class="content">
    <div class="weui-cells entry progress">
        <a class="weui-cell weui-cell_access" href="tel:400-812-8018">
            <div class="weui-cell__hd">
                <img src="../image/logo@3x.png">
            </div>
            <div class="weui-cell__bd">贷款超市</div>
            <div class="weui-cell__ft">400-812-8018</div>
        </a>
        <a class="weui-cell weui-cell_access" href="tel:400-990-2625">
            <div class="weui-cell__hd">
                <img src="../image/logo@3x.png">
            </div>
            <div class="weui-cell__bd">贷款超市</div>
            <div class="weui-cell__ft">400-990-2625</div>
        </a>
        <a class="weui-cell weui-cell_access" href="tel:025-69837566">
            <div class="weui-cell__hd">
                <img src="../image/logo@3x.png">
            </div>
            <div class="weui-cell__bd">贷款超市</div>
            <div class="weui-cell__ft">025-69837566</div>
        </a>
    </div>
</div>
</body>
</html>