<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>设置</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/1.0.1/jquery-weui.min.css">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
<div class="content">
    <div class="weui-cells entry">
        <a class="weui-cell weui-cell_access" href="agreement.html">
            <div class="weui-cell__bd">用户协议</div>
            <div class="weui-cell__ft"></div>
        </a>
        <div class="weui-cell">
            <div class="weui-cell__bd">版本号</div>
            <div class="weui-cell__ft">V1.1</div>
        </div>
    </div>
</div>
</body>
</html>