/*浅蓝色按钮*/
.btn-myBlue {
    color: #ffffff;
    background-color: #6FB3E0;
    border-color: #6FB3E0;
}

.btn-myBlue:hover,
.btn-myBlue:focus,
.btn-myBlue:active,
.btn-myBlue.active,
.open .dropdown-toggle.btn-myBlue {
    color: #ffffff;
    background-color: #428bca;
    border-color: #6FB3E0;
}

.btn-myBlue:active,
.btn-myBlue.active,
.open .dropdown-toggle.btn-myBlue {
    background-image: none;
}

.btn-myBlue.disabled,
.btn-myBlue[disabled],
fieldset[disabled] .btn-myBlue,
.btn-myBlue.disabled:hover,
.btn-myBlue[disabled]:hover,
fieldset[disabled] .btn-myBlue:hover,
.btn-myBlue.disabled:focus,
.btn-myBlue[disabled]:focus,
fieldset[disabled] .btn-myBlue:focus,
.btn-myBlue.disabled:active,
.btn-myBlue[disabled]:active,
fieldset[disabled] .btn-myBlue:active,
.btn-myBlue.disabled.active,
.btn-myBlue[disabled].active,
fieldset[disabled] .btn-myBlue.active {
    background-color: #6FB3E0;
    border-color: #6FB3E0;
}

.btn-myBlue .badge {
    color: #6FB3E0;
    background-color: #ffffff;
}

/*绿色按钮*/
.btn-myGreen {
    color: #ffffff;
    background-color: #7FB662;
    border-color: #7FB662;
}

.btn-myGreen:hover,
.btn-myGreen:focus,
.btn-myGreen:active,
.btn-myGreen.active,
.open .dropdown-toggle.btn-myGreen {
    color: #ffffff;
    background-color: #61A157;
    border-color: #7FB662;
}

.btn-myGreen:active,
.btn-myGreen.active,
.open .dropdown-toggle.btn-myGreen {
    background-image: none;
}

.btn-myGreen.disabled,
.btn-myGreen[disabled],
fieldset[disabled] .btn-myGreen,
.btn-myGreen.disabled:hover,
.btn-myGreen[disabled]:hover,
fieldset[disabled] .btn-myGreen:hover,
.btn-myGreen.disabled:focus,
.btn-myGreen[disabled]:focus,
fieldset[disabled] .btn-myGreen:focus,
.btn-myGreen.disabled:active,
.btn-myGreen[disabled]:active,
fieldset[disabled] .btn-myGreen:active,
.btn-myGreen.disabled.active,
.btn-myGreen[disabled].active,
fieldset[disabled] .btn-myGreen.active {
    background-color: #7FB662;
    border-color: #7FB662;
}

.btn-myGreen .badge {
    color: #7FB662;
    background-color: #ffffff;
}

/*红色按钮*/
.btn-myRed {
    color: #ffffff;
    background-color: #E27B6D;
    border-color: #E27B6D;
}

.btn-myRed:hover,
.btn-myRed:focus,
.btn-myRed:active,
.btn-myRed.active,
.open .dropdown-toggle.btn-myRed {
    color: #ffffff;
    background-color: #D15B47;
    border-color: #E27B6D;
}

.btn-myRed:active,
.btn-myRed.active,
.open .dropdown-toggle.btn-myRed {
    background-image: none;
}

.btn-myRed.disabled,
.btn-myRed[disabled],
fieldset[disabled] .btn-myRed,
.btn-myRed.disabled:hover,
.btn-myRed[disabled]:hover,
fieldset[disabled] .btn-myRed:hover,
.btn-myRed.disabled:focus,
.btn-myRed[disabled]:focus,
fieldset[disabled] .btn-myRed:focus,
.btn-myRed.disabled:active,
.btn-myRed[disabled]:active,
fieldset[disabled] .btn-myRed:active,
.btn-myRed.disabled.active,
.btn-myRed[disabled].active,
fieldset[disabled] .btn-myRed.active {
    background-color: #E27B6D;
    border-color: #E27B6D;
}

.btn-myRed .badge {
    color: #E27B6D;
    background-color: #ffffff;
}

.ckbox,
.rdio {
    position: relative;
}

.ckbox input[type="checkbox"],
.rdio input[type="radio"] {
    opacity: 0;
}

.ckbox label,
.rdio label {
    padding-left: 10px;
    cursor: pointer;
}

.ckbox label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}

.ckbox input[type="checkbox"]:disabled + label  {
    color: #999;
}

.ckbox input[type="checkbox"]:disabled + label:before  {
    background-color: #eee;
}

.ckbox input[type="checkbox"]:checked + label::after  {
    font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    top: 2px;
    left: 3px;
    display: inline-block;
    font-size: 11px;
    width: 16px;
    height: 16px;
    color: #fff;
}

.ckbox-default input[type="checkbox"]:checked + label:before {
    border-color: #999;
}

.ckbox-default input[type="checkbox"]:checked + label::after {
    color: #333;
}

.ckbox-primary input[type="checkbox"]:checked + label:before {
    border-color: #357EBD;
    background-color: #428BCA;
}

.ckbox-warning input[type="checkbox"]:checked + label:before {
    border-color: #EEA236;
    background-color: #F0AD4E;
}

.ckbox-success input[type="checkbox"]:checked + label:before {
    border-color: #1CAF9A;
    background-color: #1CAF9A;
}

.ckbox-danger input[type="checkbox"]:checked + label:before {
    border-color: #D43F3A;
    background-color: #D9534F;
}

.rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #bbb;
    background: #fff;
}

.rdio input[type="radio"]:disabled + label  {
    color: #999;
}

.rdio input[type="radio"]:disabled + label:before  {
    background-color: #eee;
}

.rdio input[type="radio"]:checked + label::after  {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    display: inline-block;
    font-size: 11px;
    width: 10px;
    height: 10px;
    background-color: #444;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.rdio-default input[type="radio"]:checked + label:before {
    border-color: #999;
}

.rdio-primary input[type="radio"]:checked + label:before {
    border-color: #428BCA;
}

.rdio-primary input[type="radio"]:checked + label::after {
    background-color: #428BCA;
}

.rdio-warning input[type="radio"]:checked + label:before {
    border-color: #F0AD4E;
}

.rdio-warning input[type="radio"]:checked + label::after {
    background-color: #F0AD4E;
}

.rdio-success input[type="radio"]:checked + label:before {
    border-color: #1CAF9A;
}

.rdio-success input[type="radio"]:checked + label::after {
    background-color: #1CAF9A;
}

.rdio-danger input[type="radio"]:checked + label:before {
    border-color: #D9534F;
}

.rdio-danger input[type="radio"]:checked + label::after {
    background-color: #D9534F;
}