<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>贷款超市</title>

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.8.css" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">

                        商户编号：
                        <th:block th:text="简单快乐"></th:block>

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">超级管理员</strong><b class="caret"></b></span>
                                </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInDown m-t-xs">
                            <li><a class="J_menuItem" href="/MallManage/MallConfig/ModifyPassword.aspx">修改密码</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="loginout.html">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        H+

                    </div>
                </li>
                <li>
                    <a class="J_menuItem" href="http://www.baidu.com">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">桌面</span>
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i><span class="nav-label">产品管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="form_basic.html">产品列表</a>
                        </li>
                        <li><a class="J_menuItem" href="form_validate.html" th:href="@{/project/edit}">添加产品</a>
                        </li>
                        <li><a class="J_menuItem" href="form_advanced.html" th:href="@{/category/list}">产品分类</a>
                        </li>
                        <li><a class="J_menuItem" href="form_advanced.html" th:href="@{/category/edit}">添加分类</a>
                        </li>
                        <li><a class="J_menuItem" href="form_wizard.html">表单向导</a>
                        </li>
                        <li><a class="J_menuItem" href="form_wizard.html">申请材料</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row content-tabs">
            <button class="navbar-minimalize roll-nav roll-left">
                <i class="fa fa-bars"></i>
            </button>
            <button class="roll-nav roll-left J_tabLeft" style="margin-left: 40px">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs" style="margin-left: 80px;">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="http://www.baidu.com">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                    关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="login1.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i>退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="http://www.baidu.com" frameborder="0" data-id="http://www.baidu.com" seamless></iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>

<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="../resource/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resource/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="../resource/js/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/resource/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="../resource/js/plugins/layer/layer.js" th:src="@{/resource/js/plugins/layer/layer.js}"></script>
<script src="../resource/js/hplus.min.js?v=4.0.0" th:src="@{/resource/js/hplus.min.js?v=4.0.0}"></script>
<script type="text/javascript" src="../resource/js/contabs.min.js" th:src="@{/resource/js/contabs.min.js}"></script>
<script src="../resource/js/plugins/pace/pace.min.js" th:src="@{/resource/js/plugins/pace/pace.min.js}"></script>

<script src="../resource/js/plugins/hot/bootstrap.hot.extra-utils.js" th:src="@{/resource/js/plugins/hot/bootstrap.hot.extra-utils.js}"></script>

<script type="text/javascript">
    function newTab(url, name) {
        var index = false;
        $(".page-tabs-content .J_menuTab").each(function () {
            var dataId = $(this).attr("data-id");
            if (dataId == url) {
                index = true;
                $(this).click();
                return false;
            }
        })
        if (!index) {
            var s = '<a href="javascript:;" class="active J_menuTab" data-id="' + url + '">' + name + ' <i class="fa fa-times-circle"></i></a>';
            $(".J_menuTab").removeClass("active");
            var r = '<iframe class="J_iframe" width="100%" height="100%" src="' + url + '" frameborder="0" data-id="' + url + '" seamless></iframe>';
            $(".J_mainContent").find("iframe.J_iframe").hide().parents(".J_mainContent").append(r);
            var o = layer.load();
            $(".J_mainContent iframe:visible").load(function () {
                layer.close(o)
            }),
                $(".J_menuTabs .page-tabs-content").append(s);
        }
    }
</script>
</body>

</html>
