<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.8.css" rel="stylesheet">
    <link href="../../resource/css/common.css" th:href="@{/resource/css/common.css}" rel="stylesheet">
    <title>首页统计</title>
    <style>
        h1 {
            cursor: pointer;
        }
    </style>
</head>
<body class="gray-bg">
<!--/*@thymesVar id="data" type="com.huotu.loanmarket.service.model.system.DataStatisticsVo"*/-->
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo" th:object="${data}">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group form-inline">
                            <label class="label label-success pull-left">今日收入</label>
                            <label style="margin-left: 20px;" class="label label-warning pull-left" th:text="'截止' + *{lastTime} ">截止2018-02-08T15:00:00</label>
                        </div>
                        <div class="form-group form-inline">
                            <div class="col-sm-2" th:href="@{urlView.getCashAmountUrl()}">
                                <h1 th:text="*{orderAmount}">100</h1>
                                <label>今日现金收入</label>
                            </div>
                            <div class="col-sm-2" th:href="@{urlView.getCouponsAmountUrl()}">
                                <h1 th:text="*{totalOrderAmount}">100</h1>
                                <label>历史总收入</label>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="label label-warning pull-left">今日会员</label>
                        </div>
                        <div class="form-group form-inline">
                            <div class="col-sm-2" th:href="@{urlView.getBorrowCountUrl()}">
                                <h1 th:text="*{userCount}">100</h1>
                                <label>今日新增</label>

                            </div>
                            <div class="col-sm-2" th:href="@{urlView.getOrderCountUrl()}">
                                <h1 th:text="*{orderCount}">100</h1>
                                <label>总用户数</label>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class=" label  pull-left  label-info">今日订单</label>
                        </div>
                        <div class="form-group form-inline">
                            <div class="col-sm-2" th:href="*{urlView.getLoanMemberCountUrl()}">
                                <h1 th:text="*{orderCount}">100</h1>
                                <label>今日新增</label>
                            </div>
                            <div class="col-sm-2" th:href="*{urlView.getLendMemberCountUrl()}">
                                <h1 th:text="*{paySuccessOrderCount}">100</h1>
                                <label>已支付</label>
                            </div>
                            <div class="col-sm-2" th:href="*{urlView.getLendMemberCountUrl()}">
                                <h1 th:text="*{payingOrderCount}">100</h1>
                                <label>待支付</label>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class=" label  pull-left  label-danger">今日认证</label>
                        </div>
                        <div class="form-group form-inline">
                            <div class="col-sm-2" th:href="*{urlView.getLoanPayCountUrl()}">
                                <h1 th:text="*{authSuccessCount}">100</h1>
                                <label>认证成功</label>
                            </div>
                            <div class="col-sm-2" th:href="*{urlView.getLoanAuthSuccessCountUrl()}">
                                <h1 th:text="*{authFailureCount}">100</h1>
                                <label>认证失败</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".col-sm-2").click(function () {
            var toUrl = $(this).attr("href");
            location.href = toUrl;
        })
    })

</script>
</html>