<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>商品列表</title>

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.8.css" rel="stylesheet">

    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
    <style>
        .cate-select {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
        }
    </style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <!--search-->
    <!--/*@thymesVar id="searchCondition" type="com.huotu.loanmarket.service.searchable.ProjectSearchCondition"*/-->
    <form role="form" id="searchForm" class="search-panel" th:action="@{/project/list}" method="get" th:object="${searchCondition}">
        <input type="hidden" name="pageIndex" th:value="${pageIndex}"/>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-m no-borders">
                        <div class="form-inline">
                            <div class="form-group m-r-sm">
                                <label class="control-label" for="name">产品名称：</label>
                                <input type="text" class="form-control input-sm mb10" id="name" name="name" th:value="*{name}" placeholder="产品名称"/>
                            </div>
                            <div class="form-group m-r-sm">
                                <label class="control-label" for="categoryId">产品分类：</label>
                                <select class="form-control input-sm" name="categoryId" id="categoryId">
                                    <option th:selected="*{categoryId==0}" value="0">--请选择--</option>
                                    <!--/*@thymesVar id="categories" type="java.util.List<com.huotu.loanmarket.service.entity.LoanCategory>"*/-->
                                    <option th:each="category:${categories}" th:value="${category.categoryId}" th:text="${category.name}"
                                            th:selected="${category.categoryId}==*{categoryId}"></option>
                                </select>
                            </div>
                        </div>

                        <p style="height: 8px;"></p>

                        <div class="form-inline">
                            <button type="button" onclick="projectListHandler.search(1)" class="btn btn-success">筛选</button>
                            <button type="button" onclick="projectListHandler.searchAll()" class="btn btn-success">显示全部</button>
                            <button type="button" class="btn btn-white" id="btnBatchSetHot" onclick="projectListHandler.setHot(1,0)">批量热卖</button>
                            <button type="button" class="btn btn-white" id="btnBatchCancelHot" onclick="projectListHandler.setHot(0,0)">批量取消热卖</button>
                            <button type="button" id="btnBatchSetNew" class="btn btn-white" onclick="projectListHandler.setNew(1,0)">批量新品</button>
                            <button type="button" id="btnBatchCancelNew" class="btn btn-white" onclick="projectListHandler.setNew(0,0)">批量取消新品</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--search-->

    <!--list-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins m-b-none">
                <div class="ibox-content p-xxs no-top-border">
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-center">
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkbox checkbox-primary m-b-none m-t-none">
                                        <input type="checkbox" id="chkAll" name="chkAll"/>
                                        <label for="chkAll"></label>
                                    </div>
                                </th>
                                <th>产品名称</th>
                                <th>贷款额度</th>
                                <th>贷款期数</th>
                                <th>利率</th>
                                <th>状态</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--/*@thymesVar id="projects" type="java.util.List<com.huotu.loanmarket.service.entity.LoanProject>"*/-->
                            <tr th:each="project:${projects}">
                                <td>
                                    <div class="checkbox checkbox-primary m-b-none m-t-none">
                                        <input type="checkbox" id="chk1" th:value="${project.loanId}" name="chkProject"/>
                                        <label for="chk1"></label>
                                    </div>
                                </td>
                                <td style="width: 30%;">
                                    <p style="width: 100%; height: 50px;">
                                        <!--商品-->
                                        <img style="width: 50px; height: 50px; float: left; margin-left: 5px;" src="" th:src="${@resourceService.get(project.logo).toString()}"/>
                                        <span class="font-hidden" style="width: 76%;float: left;" th:text="${project.name}"></span>
                                    </p>
                                </td>
                                <td>sdfsdfee11</td>
                                <td>￥398</td>
                                <td th:text="${project.interestRate}"></td>
                                <td>
                                    <span th:if="${project.isHot==1}" class="cate-select">热卖</span>
                                    <span th:if="${project.isNew==1}" class="cate-select">新品</span>
                                </td>
                                <td th:text="${#dates.format(project.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td>
                                    <span class="cursor-point" th:onclick="|javascript:hot.newTab('@{/project/edit(projectId=${project.loanId})}','${project.name}')|"><i class="fa fa-pencil tooltips" data-placement="top" data-toggle="tooltip" data-original-title="编辑"></i></span>
                                    &nbsp;
                                    <span th:onclick="|projectListHandler.deletePro(${project.loanId})|" class="cursor-point">
                                        <i class="fa fa-trash tooltips"
                                           data-placement="top" data-toggle="tooltip" data-original-title="删除"></i>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="float: left; margin: 20px 0;">共
                            <th:block th:text="${totalRecord}"></th:block>
                            条记录，当前第
                            <th:block th:text="${pageIndex}"></th:block>
                            /
                            <th:block th:text="${totalPage}"></th:block>
                            ，每页20条记录
                        </p>
                        <ul style="float: right;" class="pagination pagination-split">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>

<!--日期选择-->
<script src="../resource/js/plugins/datetimepick/js/moment.js" th:src="@{/resource/js/plugins/datetimepick/js/moment.js}"></script>
<script src="../resource/js/plugins/datetimepick/js/daterangepicker.js" th:src="@{/resource/js/plugins/datetimepick/js/daterangepicker.js}"></script>

<script src="../resource/js/plugins/hot/bootstrap.hot.extra-utils.js" th:src="@{/resource/js/plugins/hot/bootstrap.hot.extra-utils.js}"></script>
<script src="../resource/js/plugins/hot/bootstrap.hot.extra-init.js" th:src="@{/resource/js/plugins/hot/bootstrap.hot.extra-init.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var listUrl = /*[[@{/project/list}]]*/ "";
    var ajaxUrl = /*[[@{/project/}]]*/ "";
    var totalPage = /*[[${totalPage}]]*/ 10;
</script>

<script type="text/javascript">
    $(function () {
        //初始化分页
        var pageinate = new hot.paging(".pagination", $("input[name=pageIndex]").val(), totalPage, 7);

        pageinate.init(function (p) {
            projectListHandler.search(p);
        });

        $("#chkAll").click(function () {
            if ($(this).prop("checked")) {
                $("input[name=chkProject]").prop("checked", "checked");
            } else {
                $("input[name=chkProject]").removeAttr("checked");
            }

        })
    });

    var projectListHandler = {
        search: function (pageIndex) {
            $("input[name=pageIndex]").val(pageIndex);
            $("#searchForm").submit();
        },
        searchAll: function () {
            window.location.href = listUrl;
        },
        deletePro: function (projectId) {
            hot.ajax(ajaxUrl + "delete", {
                projectId: projectId
            }, function (apiResult) {
                if (apiResult.resultCode == 2000) {
                    hot.tip.success("删除成功");
                    window.location.reload();
                } else {
                    hot.tip.error("删除失败");
                }
            }, function () {
            }, "post", 100);
        },
        setHot: function (isHot, projectId) {
            var projectIdsStr = "";
            if (projectId > 0) {
                projectIdsStr += projectId;
                isHot = isHot == 0 ? 1 : 0;
            } else {
                $("input[name=chkProject]:checked").each(function () {
                    projectIdsStr += $(this).val() + ",";
                })
                projectIdsStr = projectIdsStr.substring(0, projectIdsStr.length - 1);
            }
            if (projectIdsStr.length == 0) {
                hot.tip.msg("未选择任何产品");
                return;
            }
            var requestData = {
                isHot: isHot,
                projectIdsStr: projectIdsStr
            };
            hot.ajax(ajaxUrl + "setHot", requestData, function (apiResult) {
                if (apiResult.resultCode == 2000) {
                    hot.tip.success("设置成功");
                    window.location.reload();
                }
            }, function () {
            }, "post", 100);
        },
        setNew: function (isNew, projectId) {
            var projectIdsStr = "";
            if (projectId > 0) {
                projectIdsStr += projectId;
                isNew = isNew == 0 ? 1 : 0;
            } else {
                $("input[name=chkProject]:checked").each(function () {
                    projectIdsStr += $(this).val() + ",";
                })
                projectIdsStr = projectIdsStr.substring(0, projectIdsStr.length - 1);
            }
            if (projectIdsStr.length == 0) {
                hot.tip.msg("未选择任何产品");
                return;
            }
            var requestData = {
                isNew: isNew,
                projectIdsStr: projectIdsStr
            };
            hot.ajax(ajaxUrl + "setNew", requestData, function (apiResult) {
                if (apiResult.resultCode == 2000) {
                    hot.tip.success("设置成功");
                    window.location.reload();
                }
            }, function () {
            }, "post", 100);
        }
    }
</script>
</body>

</html>
